
html,
body {
	 width:  100%;
  height: 100%;
  margin: 0;
}

canvas {
  display: block;
}

/*div {
  position: absolute;

 
}*/
/*div:nth-of-type(2) {

  background-color: lightgreen;
}
*/

.bubble{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubble:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

.bubbleSub{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #f68f81, #f36551 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubbleSub:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

.textParent{
    width: 100px;
  height: 50px;
  pointer-events: none;
position: relative;
top: 35%;
}
.textParentSub{
    width: 100px;
  height: 50px;
  pointer-events: none;
position: relative;
top: 35%;
}

.canvas {
  border: 1px solid black;
}

.textIntoTheCircle{

  font-size: 1.1rem;
 text-align: center;
  color: #008080;
  font-family: Helvetica, Arial, sans-serif;


}
.textIntoTheCircleSub{

  font-size: 1.1rem;
 text-align: center;
  color: #008080;
  font-family: Helvetica, Arial, sans-serif;


}