
html,
body {
	 width:  100%;
  height: 100%;
  margin: 0;
}

canvas {
  display: block;
  border: 1px solid black;
}

/*div {
  position: absolute;

 
}*/
/*div:nth-of-type(2) {

  background-color: lightgreen;
}
*/
#TextBody{
  pointer-events: none;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 82px;
}

.bubblePrimary{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubblePrimary:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

.bubbleSecondary{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #f68f81, #f36551 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubbleSecondary:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

.bubbleWarning{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #f5df17, #f7d204 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubbleWarning:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
}

/* .bubbleWarning{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle at 50% 120%, #8b5149, #ff1e00 100%, #055194 80%, #062745 100%);

  pointer-events: disabled;
}
.bubbleWarning:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
} */

.textParent{
    width: 100px;
  height: 50px;
  pointer-events: none;
position: relative;
top: 35%;
}
.textParentSub{
    width: 100px;
  height: 50px;
  pointer-events: none;
position: relative;
top: 35%;
}



.textIntoTheCircle{

  font-size: 1.1rem;
 text-align: center;
  color: #008080;
  font-family: Helvetica, Arial, sans-serif;


}
.textIntoTheCircleSub{

  font-size: 1.1rem;
 text-align: center;
  color: #008080;
  font-family: Helvetica, Arial, sans-serif;


}

.bubble-menu-open {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
    background-color: white;
    border-radius: 4px;
    padding: 4px;
}
.bubble-menu-open ul {
    padding: 0;
    margin: 0;
}
.bubble-menu-open ul li {
    cursor: pointer;
    list-style: none;
    padding: 10px 12px;
    margin: 0;
    border-bottom: 1px solid #BFE2FF;
}
.bubble-menu-open ul li:last-child {
    border-bottom: 1px solid transparent;
}
.bubble-menu-open ul li:hover {
    background-color: #BFE2FF;
}

.context-menu-open {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}
.context-menu-open ul {
  padding: 0;
  margin: 0;
}
.context-menu-open ul li {
  cursor: pointer;
  list-style: none;
  padding: 10px 12px;
  margin: 0;
  border-bottom: 1px solid #BFE2FF;
}
.context-menu-open ul li:last-child {
  border-bottom: 1px solid transparent;
}
.context-menu-open ul li:hover {
  background-color: #BFE2FF;
}


.add-node-open {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.54);
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}
.add-node-open ul {
  padding: 0;
  margin: 0;
}
.add-node-open ul li {
  cursor: pointer;
  list-style: none;
  padding: 10px 12px;
  margin: 0;
  border-bottom: 1px solid #BFE2FF;
}
.add-node-open ul li:last-child {
  border-bottom: 1px solid transparent;
}
.add-node-open ul li:hover {
  background-color: #BFE2FF;
}